.movie_listT {
    padding: 3rem 3rem 3rem 3rem;
    background-color:rgb(19, 19, 19);
}

.list_titleT {
font-size: 40px;
font-family: "gilroy";
margin:  1rem;
margin-bottom: 50px;
color: white;
}

.list_cardsT {
    display: flex;
    white-space:nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.list_cardsT::-webkit-scrollbar {
    width: 12px; 
    height: 12px;
  }

  .list_cardsT::-webkit-scrollbar-track {
    background-color: rgb(19, 19, 19);

  }
  .list_cardsT::-webkit-scrollbar-thumb {
    background-color: #404040;
    border-radius: 8px;

  }