.footer{
    width: 100%;
    height: 40vh;
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.f{
    display: flex;
    flex-direction: column;
}
.seedha{
    color: rgb(54, 80, 54);
}
.ulta{
    color: rgb(55, 107, 55);

}
.f>h2{
    color: white;
    margin-bottom: 15px;
}
.l{
    text-decoration: none;
    color: rgb(226, 226, 226);
    font-size: 17px;
    font-weight: 500;
}